
      <!-- team section -->
      <section id="team" class="team section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Projects</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Impedit rerum sint eveniet veritatis odit vero.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="img-area">
                                <img src="./assets/img/team.jpg" alt="" class="img-fl rounded-circle">
                            </div>
                            <h3 class="card-title py-2">Jack Wilson</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nobis tempora omnis adipisci amet perferendis.</p>
                            <p class="socials">
                                <i class="bi bi-twitter mx-1 text-dark"></i>
                                <i class="bi bi-facebook mx-1 text-dark"></i>
                                <i class="bi bi-linkedin mx-1 text-dark"></i>
                                <i class="bi bi-instagram mx-1 text-dark"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="img-area">
                                <img src="./assets/img/team1.jpg" alt="" class="img-fl rounded-circle">
                            </div>
                            <h3 class="card-title py-2">Jack Wilson</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nobis tempora omnis adipisci amet perferendis.</p>
                            <p class="socials">
                                <i class="bi bi-twitter mx-1 text-dark"></i>
                                <i class="bi bi-facebook mx-1 text-dark"></i>
                                <i class="bi bi-linkedin mx-1 text-dark"></i>
                                <i class="bi bi-instagram mx-1 text-dark"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="img-area">
                                <img src="./assets/img/team2.jpg" alt="" class="img-fl rounded-circle">
                            </div>
                            <h3 class="card-title py-2">Jack Wilson</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nobis tempora omnis adipisci amet perferendis.</p>
                            <p class="socials">
                                <i class="bi bi-twitter mx-1 text-dark"></i>
                                <i class="bi bi-facebook mx-1 text-dark"></i>
                                <i class="bi bi-linkedin mx-1 text-dark"></i>
                                <i class="bi bi-instagram mx-1 text-dark"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center">
                        <div class="card-body ">
                            <div class="img-area">
                                <img src="./assets/img/team3.jpg" alt="" class="img-fl rounded-circle">
                            </div>
                            <h3 class="card-title py-2">Jack Wilson</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nobis tempora omnis adipisci amet perferendis.</p>
                            <p class="socials">
                                <i class="bi bi-twitter mx-1 text-dark"></i>
                                <i class="bi bi-facebook mx-1 text-dark"></i>
                                <i class="bi bi-linkedin mx-1 text-dark"></i>
                                <i class="bi bi-instagram mx-1 text-dark"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
