
      <!-- portfolio section -->
      <section id="portfolio" class="portfolio section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Projects</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Impedit rerum sint eveniet veritatis odit vero.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="./assets/img/project.jpg" alt="" class="img-fl">
                            </div>
                            <h3 class="card-title">Building Make</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum repellat magni rem iste id voluptate maiores quae, cupiditate ratione. Reprehenderit aut maiores id necessitatibus inventore! Minus voluptatem odio sapiente.</p>
                            <button class="btn bg-warning text-dark">Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="./assets/img/project1.jpg" alt="" class="img-fl">
                            </div>
                            <h3 class="card-title">Building Make</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum repellat magni rem iste id voluptate maiores quae, cupiditate ratione. Reprehenderit aut maiores id necessitatibus inventore! Minus voluptatem odio sapiente.</p>
                            <button class="btn bg-warning text-dark">Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="./assets/img/project2.jpg" alt="" class="img-fl">
                            </div>
                            <h3 class="card-title">Building Make</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum repellat magni rem iste id voluptate maiores quae, cupiditate ratione. Reprehenderit aut maiores id necessitatibus inventore! Minus voluptatem odio sapiente.</p>
                            <button class="btn bg-warning text-dark">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
